@page
@model CookieSample.Pages.IE.PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p id="name">Hello @Model.Name !</p>
<p>Use this page to detail your site's privacy policy.</p>
